
<body>
 <div>  
<header class="header">
    <a href="#" class="logo">Shortify</a>
    <div class="topnav">
    <ul class="navmiddle">
        <li><a href="" class="res">Platform</a></li>
        <li><a href="" class="res">Resources</a></li>
        <li><a href="" class="res">Solutions</a></li>
    </ul>
</div>
<nav >
    <!-- <ul>
        <li><a href="" class="loginbtn">Log in</a></li>
        <li><a href="" class="signbtn">Sign up Free</a></li>
    </ul> -->
    <button class="loginbtn">Log In</button>
    <button class="signbtn">Sign Up</button>
</nav>
</header>
</div> 
<section>
        <div class="container position-relative">
            <div class="row align-items-center">
                <div id="anonymousLinks" class="col-12 col-lg-6 pr-lg-5">
                    <h1 class="sechead">URL Shortener</h1>
                    <div class="seccontent">
                    Best free URL shortener. Shorten, edit and delete links in bulk. Generate links, pages, QR codes with custom designs and tracking analytics. Boost your brand by branded domain name and hundred domain names more on our domain marketplace
                    </div>
                </div>
            </div>
        </div>
        <div class="searchgrp">
            <input type="text" class="linksearch" placeholder="Your long link" name="shortenit">
                <button class="shrtlink" type="submit">Shorten link</button>
        </div>  
      </section>
</body>